/* You must use 2 Sass variables */
$colorone : #3D3D3D;
$colortwo : #6D6D6D;;
body {
    color: $colorone;
    background-color: $colortwo; }
  
p {
    color: $colorone; }
  
h2 {
    background-color: $colortwo; }
